<!DOCTYPE html>
<html>

<head>
    <title>Clear View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/markdown.css">
    <script src="/static/js/chat.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var chatMessages = document.getElementById('chat-messages');
            var userQueryInput = document.getElementById('user-query');
            var sendButton = document.getElementById('send-button');

            var chatId = getCookie('chat_id');

            if (chatId != 'None') {

                // Fetch chat history
                fetch('/fetch-chat')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        // Display chat history

                        // Display chat history
                        data.messages.forEach(function (message) {
                            var userQueryElement = document.createElement('div');
                            userQueryElement.classList.add('chat-message', 'user-message');
                            userQueryElement.innerHTML = '<p>' + message.user_query + '</p>';
                            chatMessages.appendChild(userQueryElement);

                            // Display bot response
                            var botResponseElement = document.createElement('div');
                            botResponseElement.classList.add('chat-message', 'bot-message');
                            botResponseElement.innerHTML = '<p>' + render_markdown(message.bot_response) + '</p>';
                            chatMessages.appendChild(botResponseElement);

                            // Scroll to the bottom of the chat container
                            chatMessages.scrollTop = chatMessages.scrollHeight;
                        })
                    });
            }

            // Send message
            sendButton.addEventListener('click', function () {
                var userQuery = userQueryInput.value;

                if (userQuery) {
                    // Clear input field
                    userQueryInput.value = '';

                    // Send user query to server
                    fetch('/send-message', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            user_query: userQuery
                        })
                    })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (data) {
                            if (data.new_chat) {
                                window.history.pushState({}, '', '/c/' + data.chat_id);
                                setCookie("chat_id", data.chat_id, 30);
                            }

                            // Display user query
                            var userQueryElement = document.createElement('div');
                            userQueryElement.classList.add('chat-message', 'user-message');
                            userQueryElement.innerHTML = '<p>' + data.message[0].content + '</p>';
                            chatMessages.appendChild(userQueryElement);

                            // Display bot response
                            var botResponseElement = document.createElement('div');
                            botResponseElement.classList.add('chat-message', 'bot-message');
                            botResponseElement.innerHTML = '<p>' + render_markdown(data.message[1].content) + '</p>';
                            chatMessages.appendChild(botResponseElement);

                            // Scroll to the bottom of the chat container
                            chatMessages.scrollTop = chatMessages.scrollHeight;
                        });
                }
            });
        });
        function createNewChat() {
            window.history.pushState({}, '', '/');
            var element = document.getElementById("chat-messages");
            element.innerHTML = "";
            setCookie("chat_id", 'None', 30)
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="chat-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="chat-intro">
                        <h3>ClearView: Your Online Product Doubt Resolver</h3>
                        <img src="/static/img/clearview-logo.png" alt="Product Image" class="product-image">
                        <p>Welcome! I'm here to help resolve any doubts or questions you have about our product.</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="chat-transcript" id="chat-messages"></div>
                    <div class="new-chat">
                        <button class="form-control new-chat-button" onclick="createNewChat()" id="new-chat-button">New
                            Chat</a>
                    </div>
                    <div class="chat-input">
                        <div class="input-group">
                            <textarea id="user-query" class="user-query form-control" oninput="autoResize()"
                                placeholder="Type your message"></textarea>
                            <div class="input-group-append">
                                <button class="send-button" id="send-button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@11/dist/markdown-it.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
</body>

</html>